body {
  /*background-color: #f6e5e5;*/
  background-image: url("bg2.jpg");
  background-size: cover;
  height: 100%;

  }

.circular {
  border-radius: 100%
}
hr {
  border-style: dotted none none ;
  border-color: #352961;
  border-width: 10px;
  width: 10%;
}
h1{
font-size: 40px;
  color:#352961;
  text-align: center;
  font-family: 'Lobster', serif;
}
h3{
  font-size: 40px;
  color:#774181;
  text-decoration: underline;
  font-family: 'Tangerine', serif;
}
h4{
  color: red;
  text-decoration: underline;
}
h2{
  color: #352961;
  text-decoration: underline;
}
